
/* Start To Global */
*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

html
{
    height: 100% !important;
}
html * 
{
    color: white !important;
    font-family: 'NotoSansKR_Regular' !important;
}

body {
    height: 100% !important;
    background-color: #32353b !important;
    overflow-y: hidden;
}

.div-top-to-bottom {
    display: flex;
    flex-direction: column-reverse;
}

.custom-color-text{
    color: var(--text-color) !important;
    font-weight: bold;
}
.custom-color-text-light{
    color: var(--text-color) !important;
}

.common-input-label{
    color : #83f195 !important;
}

.curser-pointer{
    cursor : pointer !important;
}

/* Disable input type number arrow buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* End To Global */
.cut-text { 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Start To Contents Title */
.contents-title {
    color : #83f195 !important;
    font-weight: bold !important;
}

.contents-sub-title {
    color : #ffc107 !important;
    font-weight: bold;
}

/* End To Contents Title */


/* Start To common purpose */
.span-text-color-red {
    color : #dc3545 !important;
    font-weight: bold;
}

.span-text-color-blue {
    color : #0dcaf0 !important;
    font-weight: bold;
}

/* End To common purpose */

/* Start To Buttons */
.btn{
    color: black !important;
    font-weight: bold !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #83f195 !important;
}
.btn-primary:hover {
    background-color: rgba(83, 235, 134, 0.6) !important;
}

.btn-info:hover {
    background-color: rgba(37, 207, 242, 0.6) !important;
}

.btn-warning:hover {
    background-color: rgba(255, 193, 7, 0.6) !important;
}

.btn-light:hover {
    background-color: rgba(248, 249, 250, 0.6) !important;
}

.btn-footer-inside{
    width : 160px !important;
    height : 40px !important;
    margin-left : 10px !important;
}
/* End To Buttons */

/* Start to Footer Div */
.footer {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    background: #202225;
}

.signin-footer {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    height: 30px;   /* Height of the footer */
    background: #202225;
}
/* END to Footer Div */

/* Start To contents tables */
.table-wrapper{
  height: calc(100vh - 150px);;  
  overflow: auto;
  overflow-x: hidden;
}

thead tr:nth-child(1) th{
    background-color: #202225;
    position: sticky;
    top: 0;
    z-index: 10;
    color: #83f195 !important;
}
tbody tr:hover td {
    background: #83f195 !important;
    color: black !important;
}

.table > tbody > tr > td {
    vertical-align: middle;
}
/* END To contents tables */

/* Start To Menu Bar */
.nav-tabs .nav-link{
    background-color: #202225;
    border: 0px !important;
}

.nav-tabs{
    background-color: #202225;
    border: 0px !important;
}

.nav-item{
    border: 0px !important;
}

.nav-link.active{
    border: 0px !important;
    border-bottom: 1mm solid #83f195 !important;
    background-color: inherit !important;
    color: #83f195 !important;
}

.nav-bar-icon{
    width: 24px;
    height: 24px; 
    margin-top: 10px;
    cursor: pointer;
}

/* End To Menu Bar */

/* Start to Scroll style */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color:#83f195;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
}
/* END to Scroll style */

/* Start To Innter table buttons */
.button-wrapper-inner-table{
    padding-left: 8px;
}
/* End To Innter table buttons */


/* Start To override bootstrap modal style */
.modal-content{
    background-color: #32353b !important;
}

.modal-header{
    background-color: #83f195 !important;
}

.modal-title{
    color: black !important;
    font-family: 'NotoSansKR_Bold' !important;
}

.modal-footer{
    background-color: #202225 !important;
}

.modal-select, .select-option{
    background: #32353b !important;
    color: white !important;
    border: solid #dee2e6 !important;
    border-width: 1px !important;
}

.btn-inner-modal{
    width: 120px !important;
}

/* End To override bootstrap modal style */

/* Start To text input */
.form-control{
    background: #32353b !important;
    color: white !important;
    border: solid #a3a3a3 !important;
    border-width: 1px !important;
    width: var(--width) !important;
}
/* End To text input */

/* Start To Text Area */
.form-select{
    background-color: #32353b !important;
    border: solid #a3a3a3 !important;
    border-width: 1px !important;
    color: white !important;
}

.form-select-down-arrw{
    background:url('./res/img/caret-down-fill.svg') no-repeat right 12px center !important;
}

.form-multiple-select > option {
    border : 0px !important;
}

.form-select > option {
    color: white !important;
}

/* Start to toast */
.toast-container{
    z-index: 7000 !important;
}
.toast{
    background-color: white !important;
}

.toast * {
    color: black !important;
}

.toast-header-info{
    background-color: #83f195 !important;
    font-weight: bold !important;
}

.toast-header-warn{
    background-color: #ffc107 !important;
    font-weight: bold !important;
}

.toast-header-error{
    background-color: #dc3545 !important;
    font-weight: bold !important;
}

/* End to toast */


/* Start to Task Edit Modal */
.tesk-edit-modal-product-img{
    height: 250px !important;
    width: 250px !important;
    cursor: pointer !important;
}

.tesk-edit-modal-loding-div{
    height: 250px !important;
}

.tesk-edit-modal-spinner-product{
    color: #83f195 !important;
}

.task-edit-modal-option-label{
    color: #ffc107 !important;
}

.task-edit-modal-option-label-danger{
    color: #dc3545 !important;
}
.task-edit-modal-option-label-info{
    color: #0dcaf0 !important;
}
.task-edit-modal-option-label-verbose{
    color: #ffffff !important;
}

.time-input-select{
    background:url('./res/img/caret-down-fill.svg') no-repeat right 12px center !important;
    width: 310px !important;
    color: var(--color) !important;
}
/* End to Task Edit Modal */



/* Start to Contents Bill */
.contents-bill-input-label{
    color: #83f195 !important;
    font-weight: bold !important;
}

.contents-bill-input-addr{
    max-width: 394px;
}

.select-addr-search-result *{
    color: white !important;
}

.select-addr-search-result{
    width: 580px !important;
    background: inherit !important;
}
/* End to Contents Bill */

/* start to TextareaModal */
.modal-textarea{
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    resize: none; /* Remove this if you want the user to resize the textarea */
}


/*End to TextareaModal */


/* start to new product table item */

.product-table-item-img{
    height: 60px !important;
    width: 60px !important;
}

/* End to new product table item */


/* start to contents settings */
.contents-settings-contents-wrapper{
    height: 800px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

/* End to contents settings */

.draggable, .draggable::after, .draggable::before {
	-webkit-user-drag: element !important
}

.draggable.dragging {
    opacity: 1;
}

.draggable-ghost {
    opacity: 0.8;
    border: 3px dashed;
    background-color: rgb(131, 241, 149, 0.36) !important;
}

.draggable-chosen {
    opacity: 1;
    background-color: black !important;
}

.draggable-drag {
    background-color: black !important;
}

/* start to title bar */

.title-bar {
    -webkit-app-region: drag;
}

.window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
}
  
.window-controls .window-control-button {
    grid-row: 1 / span 1;
    width: 100%;
    height: 42px;
    padding-left: 18px;
    padding-top: 6px;
    user-select: none;
    cursor: pointer;
}

.window-controls .window-control-button:hover {
    background: rgba(255,255,255,0.1);
}

.window-controls .window-control-button:active {
    background: rgba(255,255,255,0.1);
}

.window-control-min-button {
    grid-column: 1;
}

.window-control-max-button, .window-control-restore-button {
    grid-column: 2;
}

.window-control-close-button {
    grid-column: 3;
}