
/* Start To Global */
html * 
{
    color: white !important;
    font-family: Arial !important;
}
body {
    height: 100% !important;
    background-color: #32353b !important;
}
/* End To Global */


/* Start To common purpose */
.span-text-color-red {
    color : #dc3545 !important;
    font-weight: bold;
}

.span-text-color-blue {
    color : #0dcaf0 !important;
    font-weight: bold;
}

/* End To common purpose */

/* Start To Buttons */
.btn{
    color: black !important;
    font-weight: bold !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #83f195 !important;
}
.btn-primary:hover {
    background-color: rgba(83, 235, 134, 0.6) !important;
}

.btn-footer-inside{
    width : 160px !important;
    height : 40px !important;
    margin-left : 10px !important;
}
/* End To Buttons */

/* Start to Footer Div */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    background: #202225;
}
/* END to Footer Div */

/* Start To contents tables */
.table-wrapper{
  height: calc(100vh - 150px);;  
  overflow: auto;
}

thead tr:nth-child(1) th{
    background-color: #202225;
    position: sticky;
    top: 0;
    z-index: 10;
}
tbody tr:hover td {
    background: #83f195 !important;
    color: black !important;
}

.table > tbody > tr > td {
    vertical-align: middle;
}
/* END To contents tables */

/* Start To Menu Bar */
.nav-tabs .nav-link{
    background-color: #202225;
    border: 0px !important;
}

.nav-tabs{
    background-color: #202225;
    border: 0px !important;
}

.nav-item{
    border: 0px !important;
}

.nav-link.active{
    border: 0px !important;
    border-bottom: 1mm solid #83f195 !important;
    background-color: inherit !important;
    color: #83f195 !important;
}
/* End To Menu Bar */

/* Start to Scroll style */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#fff;
    -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}
/* END to Scroll style */

/* Start To Innter table buttons */
.button-wrapper-inner-table{
    padding-left: 8px;
}
/* End To Innter table buttons */


/* Start To override bootstrap modal style */
.modal-content{
    background-color: #32353b !important;
}

.modal-header{
    background-color: #83f195 !important;
}

.modal-title{
    color: black !important;
    font-weight: bold;
}

.modal-footer{
    background-color: #202225 !important;
}

.btn-inner-modal{
    width: 120px !important;
}
/* End To override bootstrap modal style */

/* Start To text input */
.form-control{
    color: black !important;
    width: 450px !important;
}
/* End To text input */


/* Start to toast */
.toast{
    background-color: white !important;
}

.toast * {
    color: black !important;
}

.toast-header-info{
    background-color: #83f195 !important;
    font-weight: bold !important;
}

.toast-header-warn{
    background-color: #ffc107 !important;
    font-weight: bold !important;
}

.toast-header-error{
    background-color: #dc3545 !important;
    font-weight: bold !important;
}

/* End to toast */